<div *ngIf="!_tokenService.hasToken()">
  <app-welcome></app-welcome>
</div>

<div class="container" *ngIf="_tokenService.hasToken() && _projectsService.projects.length > 0">
  <div class="row">
    <div class="col">
      <h2>Producción</h2>
      <hr>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action" [ngClass]="claseActiva"
            *ngFor="let project of
            _projectsService.filterProjects(1, _projectsService.productionProjectsTypes)">
          {{ project.name }}
        </li>
        <li class="list-group-item list-group-item-warning"
            *ngIf="_projectsService.filterProjects(1, _projectsService.productionProjectsTypes).length == 0">
          Sin items
        </li>
      </ul>
    </div>
    <div class="col"><h2>Estructural</h2>
      <hr>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action"
            *ngFor="let project of
            _projectsService.filterProjects(1, _projectsService.estructuralProjectsTypes)">
          {{ project.name }}
        </li>
        <li class="list-group-item list-group-item-warning"
            *ngIf="_projectsService.filterProjects(1, _projectsService.estructuralProjectsTypes).length == 0">
          Sin items
        </li>
      </ul></div>
    <div class="w-100"></div>
    <div class="col mt-2">
      <h2>Interno</h2>
      <hr>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action"
            *ngFor="let project of
            _projectsService.filterProjects(1, _projectsService.internalProjectsTypes)">
          {{ project.name }}
        </li>
        <li class="list-group-item list-group-item-warning"
            *ngIf="_projectsService.filterProjects(1, _projectsService.internalProjectsTypes).length == 0">
          Sin items
        </li>
      </ul>
    </div>
    <div class="col mt-2">
      <h2>Comercial</h2>
      <hr>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action"
            *ngFor="let project of
            _projectsService.filterProjects(1, _projectsService.comercialProjectsTypes)">
          {{ project.name }}
        </li>
        <li class="list-group-item list-group-item-warning"
            *ngIf="_projectsService.filterProjects(1, _projectsService.comercialProjectsTypes).length == 0">
          Sin items
        </li>
      </ul>
    </div>
  </div>

</div>
