<div *ngIf="!_tokenService.hasToken()">
  <app-welcome></app-welcome>
</div>
<div class="container animated fade fadeIn fast"
     *ngIf="_tokenService.hasToken() && _projectsService.projects.length > 0">
  <div class="row">
    <!--PRODUCCION-->
    <div class="col">
      <h2>Producción
        <i (click)="changeSlice(1)"
           *ngIf="productionProjects.length > productionSlice"
           class="fa fa-plus-square-o clickableAwesomeFont animated fade fadeIn fast"
           aria-hidden="true" title="Ver todos los proyectos"></i>
        <i (click)="changeSlice(1)"
           *ngIf="productionProjects.length == productionSlice && productionProjects.length > minimunSlice"
           class="fa fa-minus-square-o clickableAwesomeFont animated fade fadeIn fast"
           aria-hidden="true" title="Ver menos proyectos"></i>
      </h2>
      <hr>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action"
            *ngFor="let project of productionProjects | slice:0:productionSlice">
            {{ project.name }}
        </li>
        <li class="list-group-item list-group-item-warning"
            *ngIf="productionProjects.length == 0">
          Sin items
        </li>
      </ul>
    </div>
    <!--ESTRUCTURAL-->
    <div class="col">
      <h2>Estructural
        <i (click)="changeSlice(2)"
           *ngIf="estructuralProjects.length > estructuralSlice"
           class="fa fa-plus-square-o clickableAwesomeFont animated fade fadeIn fast"
           aria-hidden="true" title="Ver todos los proyectos"></i>
        <i (click)="changeSlice(2)"
           *ngIf="estructuralProjects.length == estructuralSlice && estructuralProjects.length > minimunSlice"
           class="fa fa-minus-square-o clickableAwesomeFont animated fade fadeIn fast"
           aria-hidden="true" title="Ver menos proyectos"></i>
      </h2>
      <hr>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action"
            *ngFor="let project of estructuralProjects | slice:0:estructuralSlice">
            {{ project.name }}
        </li>
        <li class="list-group-item list-group-item-warning"
            *ngIf="estructuralProjects.length == 0">
            Sin items
        </li>
      </ul>
    </div>
    <div class="w-100"></div>
    <!--INTERNO-->
    <div class="col mt-2">
      <h2>Interno
        <i (click)="changeSlice(3)"
           *ngIf="internalProjects.length > internalSlice"
           class="fa fa-plus-square-o clickableAwesomeFont animated fade fadeIn fast"
           aria-hidden="true" title="Ver todos los proyectos"></i>
        <i (click)="changeSlice(3)"
           *ngIf="internalProjects.length == internalSlice && internalProjects.length > minimunSlice"
           class="fa fa-minus-square-o clickableAwesomeFont animated fade fadeIn fast"
           aria-hidden="true" title="Ver menos proyectos"></i>
      </h2>
      <hr>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action"
            *ngFor="let project of internalProjects | slice:0:internalSlice">
             {{ project.name }}
        </li>
        <li class="list-group-item list-group-item-warning"
            *ngIf="internalProjects.length == 0">
            Sin items
        </li>
      </ul>
    </div>
    <!--COMERCIAL-->
    <div class="col mt-2">
      <h2>Comercial
        <i (click)="changeSlice(4)"
           *ngIf="comercialProjects.length > comercialSlice"
           class="fa fa-plus-square-o clickableAwesomeFont animated fade fadeIn fast"
           aria-hidden="true" title="Ver todos los proyectos"></i>
        <i (click)="changeSlice(4)"
           *ngIf="comercialProjects.length == comercialSlice && comercialProjects.length > minimunSlice"
           class="fa fa-minus-square-o clickableAwesomeFont animated fade fadeIn fast"
           aria-hidden="true" title="Ver menos proyectos"></i>
      </h2>
      <hr>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action"
            *ngFor="let project of comercialProjects | slice:0:comercialSlice">
            {{ project.name }}
        </li>
        <li class="list-group-item list-group-item-warning"
            *ngIf="comercialProjects.length == 0">
            Sin items
        </li>
      </ul>
    </div>
  </div>
</div>
