<div *ngIf="!_tokenService.hasToken()">
  <app-welcome></app-welcome>

</div>
<div class="container" *ngIf="_tokenService.hasToken()">
  <ul>
    <li *ngFor="let issue of issues | async | filter: {subject:'Investigar y documentar las tareas'} ">
      {{ issue.subject }} -- {{ issue.project.name }}
    </li>
    <li *ngFor="let issue of issues | async">
      {{ issue.subject }} -- {{ issue.project.name }}
    </li>
    <li *ngFor="let issue of issues | async">
      {{ issue | json}}
    </li>
  </ul>
</div>

