<div class="container">
  <div class="jumbotron mt-2">
    <h1 class="display-3">Bienvenido a Bluemind!!</h1>
    <p class="lead">Esta herramienta va a facilitarte la vida a la hora de imputar. Créeme. Todo el equipo Delivery de
      SDOS confía en que la disfrutes... y nos invites a una birra</p>
    <hr class="my-4">
    <p>Para empezar a trabajar debes proprocionarme un token. Sigue los pasos:</p>
    <ol>
      <li>Identificate en la aplicación <a href="https://redmine.sdos.es" target="_blank">Redmine</a> de SDOS</li>
      <li>Accede a mi <a href="https://redmine.sdos.es/my/account" target="_blank">cuenta</a></li>
      <li>Pulsar "Mostrar" en "Clave de acceso de la API" y copiar el token</li>
    </ol>
    <hr>
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/config']" role="button">Completar la configuración</a>
    </p>
  </div>
</div>
