<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo-navbar.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Bluemind
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/projects']">Proyectos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/issues']">Mis peticiones</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/config']">Configuración</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input #searchInput class="form-control mr-sm-2"
             type="text" placeholder="#issues, projects..." aria-label="Buscar"
            (keyup)="search(searchInput.value)">
      <button (click)="search(searchInput.value)" class="btn btn-outline-primary my-2 my-sm-0">Buscar</button>
    </form>

  </div>
</nav>
<app-user-info></app-user-info>
